@import "layout/_main.scss";

#wrapper {
  width: 500px;
  margin: 0 auto;
  background-color: #eee;
  box-shadow: 3px 5px 5px 0 #919191;

  h1 {
    color: #997;
    background-color: #ffc;

    &:hover {
      color: #000;
    }
  }

  p {
    text-align: center;
  }  
}
